APP_NAME=Lumen
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=dasbor
DB_USERNAME=root
DB_PASSWORD=12345678

DB_DATABASE_BPHTB=laravue_bphtb

DB_DATABASE_SIMPAD=simpad-pinrang

DB_CONNECTION_OR=oracle
DB_HOST_OR=192.168.1.73
DB_TNS_OR=192.168.1.73/PINRANG
DB_PORT_OR=1521
DB_DATABASE_OR=PINRANG
DB_USERNAME_OR=PBB
DB_PASSWORD_OR=PBB

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

JWT_SECRET=42n4NRdAPdbBEtFRklC9CHwizh1R7eIl31wmaZtx8p9eRcI8sP2AwIdRvUYZg0jV
